on: workflow_dispatch
name: build
jobs:
  build-matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ghidra_version: ['12.0', '11.4.3', 11.3.1', '11.3', '11.2.1', '11.2', '11.1.2', '11.1.1', '11.1', '11.0.3', '11.0.2', '11.0.1', '11.0', '10.4', '10.3.3', '10.3.2', '10.3.1', '10.3']
    steps:
      - name: checkout repo
        uses: actions/checkout@v3

      - name: build
        env: 
          GHIDRA_VERSION: ${{ matrix.ghidra_version }}
        run: docker compose up --exit-code-from build.service

      - name: export artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-${{ matrix.ghidra_version }}
          path: extension/dist/*.zip
